footer {
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 14, 36);
    text-align: center;
    align-items: center;
}

h4{
    color: white;
}

@media (max-width: 420px ) {
    footer {
        height: auto;
    }
    h4 {
        font-size: 0.8rem;
    }
}