body {
    margin: 0px;
}

header {
    background-color: rgb(252, 252, 252);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
    padding: 5px;
}

header img{
    width: 200px;
}